# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest
.pytest_cache/

# Allure
allure-results/
.allure/

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp

# Оставляем только сгенерированный отчёт для публикации
# allure-report/
